/*
* @Author: mlszd
* @Date:   2017-09-30 11:37:24
* @Last Modified by:   mlszd
* @Last Modified time: 2017-09-30 11:43:05
*/
*{
	margin: 0;
	padding: 0;
	list-style:none;
	font-family: "微软雅黑"，"宋体"，sans-serif;
}
a{
	text-decoration: none;
}
body{
	background: #ffffff;
}
img{
	border: o;
}
