/*
* @Author: Administrator
* @Date:   2017-09-30 11:46:45
* @Last Modified by:   Administrator
* @Last Modified time: 2017-10-19 10:14:39
*/

*{
	margin: 0;
	padding: 0;
	list-style: none;
	
	font-family: "微软雅黑","宋体",sans-serif;
	box-sizing: border-box;
    
}
a{
	text-decoration: none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);

}
body{
	background: #ffffff;
}

/* 兼容ie6 */
img{
	border: 0;
}