/*
* @Author: Administrator
* @Date:   2017-10-15 09:08:51
* @Last Modified by:   Administrator
* @Last Modified time: 2017-10-19 17:25:48
*/
@import url(base.css);
.icon-xtubiao{
	font-family: 'iconfont';
	font-style: normal;
}
header{
	width: 100%;
	overflow: hidden;
	position: fixed;
	left: 0;
	top: 0;
}
header .h-top{
	width: 100%;
	height: 1.44rem;
	background: white;
	border-bottom: 0.01rem solid #dddddd;
}
header .h-top .hto-le{
	float: left;
	font-size: 0.54rem;
	color: #3c3c3c;
	width: 1.9rem;
	height: 100%;
	line-height: 1.44rem;
	margin-left: 4.56rem;
}
header .h-top .hto-cen{
	float: left;
	width: 1.8rem;
	height: 100%;
	
}
header .h-top .hto-cen span{
	float: left;
	height: 100%;
	line-height: 1.44rem;
	font-size: 0.34rem;
	color: #3c3c3c;
}
.icon-jiantou-copy-copy-copy{
	float: left;
	font-size: 0.38rem;
	color: #3c3c3c;
	margin-top: 0.5rem;
	margin-left: 0.15rem;
}
header .h-top .hto-rig{
	float: right;
	width: 1.1rem;
	height: 100%;
	line-height: 1.44rem;
	font-size: 0.54rem;
	color: #3c3c3c;
	margin-right: 0.4rem;
}

header .h-down{
	width: 100%;
	height: 1.08rem;
	background: #ffa5a5;
	padding-left: 0.5rem;
}
header .h-down .hdo-le{
	float: left;
	height: 100%;
	width: 6.45rem;
	color: white;
	line-height: 1.08rem;
	font-size: 0.34rem;
} 
.icon-chahao{
	float: right;
	margin-top: 0.3rem;
	margin-right: 0.3rem;
	font-size: 0.38rem;
	color: white;
}


/* 购物车里商品部分开始编写 */
main{
	width: 100%;
	overflow: hidden;
	background: #f2f2f2;
	margin-top: 2.52rem;
	margin-bottom: 2.8rem;
}
main .product{
	width: 100%;
}
main .product .prod-top{
	/* display: block; */
	width: 100%;
	height: 1.2rem;
	border-bottom: 0.01rem solid #e6e6e6;
	background: white;
}
main .product .prod-top .chk{
	float: left;
	margin-top: 0.4rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem；
} 

main .product .prod-top .prod-sj{
	float: left;
	/* width: 5.2rem; */
	height: 100%;
	font-size: 0.38rem;
	line-height: 1.2rem;
	color: #353535;
	margin-left: 0.2rem;

}
.icon-jiantou{
	float: left;
	margin-left: 0.05rem;
	margin-top: 0.38rem;
	font-size: 0.38rem;
	color: #353535;
}
main .product .pro-center{
	width: 100%;
	height: 1rem;
	background: white;
}
main .product .pro-center .lable{
	float: left;
	/* width: 1.7rem; */
	height: 0.4rem;
	border: 0.01rem solid #ff463c;
	border-radius: 0.08rem;
	font-size: 0.32rem;
	color: #ff463c;
	margin-top: 0.34rem;
	margin-left: 0.5rem;
	text-align: center;
	line-height: 0.25rem;
}
main .product .pro-center .word{
	float: left;
	height: 100%;
	/* width: 3.8rem; */
	line-height: 1rem;
	font-size: 0.32rem;
	color: #646464;
	margin-left: 0.2rem;
}
main .product .prod-down{
	display: block;
	width: 100%;
	height: 3.5rem;
	padding-bottom: 0.3rem;
	background: white;
}
main .product .prod-down input{
	float: left;
	margin-top: 1.2rem;
	margin-left: 0.5rem;
}
main .product .prod-down  img{
	float: left;
	width: 2.7rem;
	height: 2.7rem;
	margin-left:0.5rem;
}
main .product .prod-down .miaoshu{
	float: left;
	width: 6rem;
	height: 100%;
	padding-left: 0.3rem;
	background: white;
}
main .product .prod-down .miaoshu .p1{
	font-size: 0.38rem;
	font-weight: bold;
	color: #323232;
	width: 5.7rem;
	overflow: hidden;
}
main .product .prod-down .miaoshu .p2{
	font-size: 0.3rem;
	color: red;
	margin-top: 0.2rem;
}
main .product .prod-down .miaoshu .p3 {
	width: 100%;
	margin-top: 0.2rem;
	overflow: hidden;
}
main .product .prod-down .miaoshu .p3 span{
	float: left;
	/* width: 1rem; */
	padding: 0.05rem;
	/* height: 0.4rem; */
	background: #f43575;
	color: white;
	font-size: 0.26rem;
	border-radius: 0.1rem;
	text-align: center;
	line-height: 0.4rem;
}
main .product .prod-down .miaoshu .p4{
	width: 100%;
	margin-top: 0.1rem;
	overflow: hidden;
}
main .product .prod-down .miaoshu .p4 span{
	float: left;
	font-size: 0.24rem;
	color: #969696;
}
main .product .prod-down .miaoshu .p4 .span2{
	margin-left: 0.2rem;
}
.icon-modify{
	font-size: 0.54rem;
	float: right;
	margin-right: 0.2rem;
	color: #c8c8c8;
}
/* 商品2开始编写 */
main .product2{
	width: 100%;
	margin-top: 0.18rem;
}
main .product2 .prod-top{
	/* display: block; */
	width: 100%;
	height: 1.2rem;
	/* border-bottom: 0.01rem solid #e6e6e6; */
	background: white;
}
main .product2 .prod-top .chk{
	float: left;
	margin-top: 0.4rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem；
} 

main .product2 .prod-top .prod-sj{
	float: left;
	/* width: 5.2rem; */
	height: 100%;
	font-size: 0.38rem;
	line-height: 1.2rem;
	color: #353535;
	margin-left: 0.2rem;

}
.icon-jiantou{
	float: left;
	margin-left: 0.05rem;
	margin-top: 0.38rem;
	font-size: 0.38rem;
	color: #353535;
}

main .product2 .prod-down{
	display: block;
	width: 100%;
	height: 3rem;
	padding-bottom: 0.3rem;
	background: white;
}
main .product2 .prod-down input{
	float: left;
	margin-top: 1.2rem;
	margin-left: 0.5rem;
}
main .product2 .prod-down  img{
	float: left;
	width: 2.7rem;
	height: 2.7rem;
	margin-left:0.5rem;
}
main .product2 .prod-down .miaoshu{
	float: left;
	width: 6rem;
	height: 100%;
	padding-left: 0.3rem;
	background: white;
}
main .product2 .prod-down .miaoshu .p1{
	font-size: 0.38rem;
	font-weight: bold;
	color: #323232;
	width: 5.7rem;
	overflow: hidden;
}
main .product2 .prod-down .miaoshu .p2{
	font-size: 0.3rem;
	color: red;
	margin-top: 0.2rem;
}
main .product2 .prod-down .miaoshu .p3 {
	width: 100%;
	margin-top: 0.2rem;
	overflow: hidden;
}
main .product2 .prod-down .miaoshu .p3 span{
	float: left;
	/* width: 1rem;
	height: 0.4rem; */
	padding: 0.05rem;
	background: #f43575;
	color: white;
	font-size: 0.26rem;
	border-radius: 0.1rem;
	text-align: center;
	line-height: 0.4rem;
}
main .product2 .prod-down .miaoshu .p4{
	width: 100%;
	margin-top: 0.1rem;
	overflow: hidden;
}
main .product2 .prod-down .miaoshu .p4 span{
	float: left;
	font-size: 0.24rem;
	color: #969696;
}
main .product2 .prod-down .miaoshu .p4 .span2{
	margin-left: 0.2rem;
}
.icon-modify{
	font-size: 0.54rem;
	float: right;
	margin-right: 0.2rem;
	color: #c8c8c8;
}

/* 猜你喜欢开始编写 */
/* 猜你喜欢开始编写 */
.icon-keai{

}
main .cainixihuan .cnxh-title{
	height: 1.04rem;
	width: 100%;
	/* background: red; */
}
main .cainixihuan .cnxh-title .le-line{
	float: left;
	width: 1.8rem;
	height: 0.02rem;
	margin-left: 0.48rem;
	margin-top: 0.47rem;
	background: #c8c8c8;
}
main .cainixihuan .cnxh-title .rig-line{
	float: right;
	width: 1.8rem;
	height: 0.02rem;
	margin-right: 0.48rem;
	margin-top: 0.47rem;
	background: #c8c8c8;
}
main .cainixihuan .cnxh-title .word{
    float: left;
    font-size: 0.38rem;
    color: black;
    margin-left: 0.8rem;
    margin-top: 0.2rem;
}
main .cainixihuan .cnxh-row{
	margin-top: 0.1rem;
	width: 100%;
	height: 7.74rem;
}  
main .cainixihuan .cnxh-row a{
	float: left;
	width: 50%;
	height: 100%;
	background: white;
	border-left: 0.06rem solid #f2f2f2;
	border-right: 0.06rem solid #f2f2f2;
}
main .cainixihuan .cnxh-row a img{
	display: block;
	width: 5.18rem;
	height: 6.2rem;
}
main .cainixihuan .cnxh-row .price{
   height: 0.4rem;
   width: 100%;
   margin-top: 0.1rem;
   margin-left: 0.25rem;
}
main .cainixihuan .cnxh-row .price .first{
	float: left;
	font-size: 0.4rem;
	color: #f8664f;
	font-weight: bold;
}
main .cainixihuan .cnxh-row .price .second{
	float: left;
	font-size: 0.34rem;
	color: #f8664f;
	font-weight: bold;
	margin-top: 0.08rem;
}
main .cainixihuan .cnxh-row .price  .third{
	float: left;
	/* height: 0.4rem; */
	/* width: 1.3rem; */
	padding: 0.05rem;
	border-radius: 0.08rem;
	background: red;
	color: white;
	font-size: 0.26rem;
	margin-left: 0.4rem;
	margin-top: 0.08rem;
	text-align: center;
	line-height: 0.4rem;
}

/* 结算价格开始编写 */
.jiesuan{
	position: fixed;
	left: 0;
	bottom: 1.44rem;
	width: 100%;
	height: 1.36rem;
	border-top: 0.01rem solid #c8c8c8;
	background: rgba(255, 255, 255, 0.7);
}
.jiesuan input{
	float: left;
	margin-left: 0.5rem;
	margin-top: 0.48rem;
}
.jiesuan .s1{
	float: left;
	height: 100%;
	width: 1.35rem;
	line-height: 1.36rem;
	font-size: 0.36rem;
	color: #464646;
	margin-left: 0.3rem;
}
.jiesuan .s2{
	float: right;
	height: 100%;
	line-height: 1.36rem;
	font-size: 0.36rem;
	color: #b3b3b3;
}
.jiesuan .s3{
	float: right;
	height: 100%;
	width: 1.7rem;
	line-height: 1.36rem;
	font-size: 0.38rem;
	color: red;
}
.jiesuan .s4{
	float: right;
	height: 100%;
	width: 3rem;
	line-height: 1.36rem;
	background: red;
	font-size: 0.4rem;
	color: white;
	text-align: center;
}





footer{
    /* display: none; */
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1.44rem;
	border-top: 0.01rem solid #c8c8c8;
	background: #f9f9f9;
}
.icon-footer{
	font-family: 'iconfont';
	font-style: normal;
	font-size: 0.62rem;
	color: #5d5f6a;
}
footer .fo{
	float: left;
	width: 20%;
	height: 100%;
}
footer .fo i{
	display: block;
	margin: 0 auto;
	margin-top: 0.15rem;
	width: 0.62rem;
	height: 0.62rem;
}
footer .fo span{
	display: block;
	font-size: 0.28rem;
	color: #5d5f6a;
	margin: 0 auto;
	margin-top: 0.08rem;
	text-align: center;
}
footer .fo:nth-child(4) i{
	color: orange;
}
footer .fo:nth-child(4) span{
	color: orange;
}


