*{
	margin: 0;/*清除body身上的margin值。8px*/
	text-decoration: none;/*a*/
	padding: 0;
	/* box-sizing: content-box   默认值*/
	box-sizing: border-box;
	list-style: none; /*列表标签的默认样式*/
	font-weight: normal;/*清除掉字体默认效果*/
	font-style: normal;/*清除掉字体默认效果*/
	border:none;/*input身上自带border属性*/
}
img{
	display: block;
	width: 100%;
	height: 100%;

}

